<!doctype html>
<html>
  <head>
    {% block head %}
    <link rel="stylesheet" href="style.css" type="text/css">
    <script src="jquery-3.6.0.min.js"></script>
    <title>{% block title %}Gomoku{% endblock %}</title>
    {% endblock %}
  </head>
  <body>
    <div id="heading">
        <h1>{% block heading %}{% endblock %}</h1>
    </div>
    <div id="nav">
        {% block nav %}
        {% endblock %}
    </div>
    <div id="content">{% block content %}{% endblock %}</div>
    <div id="footer">
      {% block footer %}
      {% endblock %}
    </div>
  </body>
</html>
