<!doctype html>
<html>
    <head>
        <title>Gomoku</title>
    </head>
    <body>
        <table style = "border: 1px solid black;">
            {%for i in range(0, size)%}
            <tr>
                {%for j in range(0, size)%}
                    <td style = "width: 25px; height: 25px;">
                        {% if state[i][j] == "-" %}
                            <a href = "move/{{i}}/{{j}}">{{state[i][j]}}</a>
                        {% else %}
                            {{state[i][j]}}
                        {% endif %}

                            
                    </td>
                {%endfor%}
            </tr>
            {%endfor%}
        </table>

        <!-- <h1>{{state}}</h1> -->
    </body>
</html>

