{% extends "base.html" %}

{% block title %}Gomoku Experiment Consent{% endblock %}
{% block heading %}Gomoku Experiment Consent{% endblock %}

{% block content%}

<div id="consent" class="content_box">

    <h2>Study Description</h2>

    <p>You are being asked to be a volunteer in a research study. Welcome to the Gomoku Tutor Effectiveness Testing Experiment (IRB Protocol:H23275). This task is part of a research study being conducted by the Teachable AI Lab at Georgia Institute of Technology.
    The purpose of the research is to better understand how artificial intelligence algorithms can be used to teach people to make better strategic decisions.</p>

    <h2>Procedures</h2>

    <p>During this experiment, which we expect to take approximately 45-60 minutes, you will be asked to either play the game of Gomoku with no feedback, immediate feedback, or delayed feedback.</p>

    <p>Your interactions with our Gomoku tutor will take place through a web-based simulation environment and a web-based user interface.
    Please see the detailed procedure below:</p>

    <ol type = "1">
        <li>Upon acceptance of this informed consent agreement, you will be randomly assigned into a group without feedback, with immediate feedback, or with delayed feedback.</li>
        <li>Based on these random assignments, you will receive the corresponding instructions, which will include the basic rules of Gomoku. </li>
        <li>Before interacting with the Gomoku tutor, you will take a pretest, where you will be presente with 20 board states and asked to make the best move on each board. </li>
        <li>Then you will play with the Gomoku tutor for approximately 35 minutes.</li>
        <li>After interacting with the Gomoku tutor, you will be presented with a posttest, similar to the pretest described in (3).</li>
        <li>Lastly, you will take a short survey and answer questions related to your experience interacting with the Gomoku tutor.</li>
    </ol>

    <h2>Participant Requirements</h2>

    <p>Participation in this study is limited to individuals <b>aged 18 and older</b> and <b>fluent in English</b>.
    Additionally, all participants are required to have a <b>modern web browser</b>, such as Chrome, Safari, Edge, or Firefox, etc.</p>

    <h2>Risks</h2>

    <p>The risks and discomfort associated with participation in this study are no greater than those ordinarily encountered in daily life or during other online activities.</p>

    <h2>Benefits</h2>

    <p>You might develop interest in the game of Gomoku and become a better player by the end of the study.
    Moreover, the knowledge gained about how best to teach strategic decision making may be of value to humanity. </p>

    <h2>Compensation and Costs</h2>

    <p>For participating in this task, you will be paid with a base of $9 and $0.1 for every pretest and posttest question that you get correct (a maximum of $4 in addition to the base) directly through Prolific.
    There will be no cost to you if you participate in this study.</p>

    <h2>Confidentiality</h2>

    <p>The data captured for the research will not include any personally identifiable information about you.</p>

    <p>We will comply with any applicable laws and regulations regarding confidentiality. To make sure that this research is being carried out in the proper way, the Georgia Institute of Technology IRB may review study records. The Office of Human Research Protections may also look at study records.</p>

    <p>Finally, by participating, you understand and agree that the data and information gathered during this study may be used by Teachable AI Lab and published and/or disclosed by Teachable AI Lab to others outside of Teachable AI Lab. Collected data will not contain any PII and could be used for future research studies or distributed to another investigator for future research studies without additional informed consent from the subject. </p>

    <h2>Right to Ask Questions & Contact Information</h2>

    <p>If you have any questions about the study, you may contact Dr. Christopher MacLellan at cmaclellan3@gatech.edu.</p>

    <p>If you have any questions about your rights as a research subject, you may contact Georgia Institute of Technology Office of Research Integrity Assurance at IRB@gatech.edu.</p>

    <h2>Voluntary Participation</h2>

    <p>Your participation in this research is voluntary. You may discontinue participation at any time during the research activity.<br>
    By accepting below you agree to the following statements:</p>
    <li>I am 18 years of age or older</li>
    <li>I have read and understood the information above </li>
    <li>I want to participate in this research and continue with the experiment</li>
    <p>Do you understand and consent to these terms?</p>

    <div id="consent_buttons">
        <button id="agree_button">I agree</button>
        <button id="disagree_button">No thanks</button>
    </div>

    <!-- <input id = "agree_button" type = "button" value = "I agree">
        <button id="agree_button">I agree</button> -->

        <!-- <input type="checkbox" id="consent1" name="consent1" value="agree">
            <label for="consent1"> I agree to the terms and conditions</label><br> -->

</div>

<script>
    $(function() {

        window.addEventListener( "pageshow", function ( event ) {
            var historyTraversal = event.persisted ||
                ( typeof window.performance != "undefined" &&
                    window.performance.getEntriesByType("navigation")[0].type === "back_forward"
                );
            if ( historyTraversal ) {
                // Handle page restore.
                window.location.reload();
            }
        });

        console.log( "ready!" ); //wait until all pages load
        $('#agree_button').click(function() {
            $.ajax({
                type: "POST",
                url: '/advance_stage',
                data: JSON.stringify({'page': window.location.pathname.substring(1) }),
                contentType: 'application/json',
                dataType: 'json',
                success: function(resp) {
                    window.location.href = resp['next_page'];
                },

            });
        });
        $('#disagree_button').click(function() {
            window.location.href = "/goodbye";
        });
    });
</script>

{% endblock %}
