{% extends "base.html" %}

{% block title %}Home{% endblock %}
{% block heading %}Gomoku Training{% endblock %}

{% block content%}

<div id="winning_dialog">
	<h3 id="winning_text">You Won!</h3>	
</div>

<!-- button always appear -->

<div id = "start_instructions">
    <div>You can move by clicking on any grid square.  Once you complete the
        game or want to end a game, you can review each move in the game and
        get feedback on move score and hints from the AI model.</div>
</div>

<div id="review">
    <h2>Game Review Mode</h2>
    <div>You can now review your game (go forward and backwards through moves)
        and look at the estimated score for each move as well as request hints
        for the best move in each board state. The move you made in each state
        will be shown by a slightly transparent stone. </div>
	<div class='score_div'><h3>Move Score: <span id='score'>{{ '%0.1f' | format(score|float)}}<span></h3></div>
	<div class='comment_div'>A measure (ranging from 0-1) of how optimal your last move was
		(1=best).</div>

    <div id = "review_buttons">
        <button id="previous">Previous</button>
        <button id="hint">Hint</button>
        <button id="next">Next</button></div>
</div>

<div id = "new_game_control">
    <button id="new_game_button">Start new game</button>
    <button id="end_game_button">Start game review</button>
</div>


<div class="board-container">
    {% include 'loading.html' %}
    <table class="board">
        {%for i in range(0, size)%}
        <tr>
            {%for j in range(0, size)%}
                <td>
                    {% if i * size + j in moves and moves[i * size + j] == "black" %}
                <div id="loc{{i * size + j}}" class="blackstone" data-row="{{i}}" data-col="{{j}}"></div>
                <div id="loc{{i * size + j}}" class="blackstone" ></div>
                    {% elif i * size + j in moves and moves[i * size + j] == "white" %}
                <div id="loc{{i * size + j}}" class="whitestone" data-row="{{i}}" data-col="{{j}}"></div>
                    {% else %}
                        <div id="loc{{i * size + j}}" class="move_location" data-row="{{i}}" data-col="{{j}}"></div>
                    {% endif %}
                </td>
            {%endfor%}
        </tr>
        {%endfor%}
    </table>
</div>

{% endblock %}

{% block footer %}
<script>
	let move_color = '{{ color }}';
    var move_seq = [
        {% for location, _, _, _ in move_seq %}
            {{ location }},
        {% endfor %}
    ];
    var color_seq = [
        {% for _, _, _, color in move_seq %}
            "{{ color }}",
        {% endfor %}
    ];

    var score_seq = [
        {% for _, score, _, _ in move_seq %}
            {{ score }},
        {% endfor %}
    ];

    var hint_seq = [
        {% for _, _, hint, _ in move_seq %}
            {{ hint }},
        {% endfor %}
    ];
    var current_idx = move_seq.length-1;
</script>
<script src="game.js"></script>
<script src="training.js"></script>
<script src="delayed.js"></script>
{% endblock %}
