{% extends "base.html" %}

{% block title %} Home {% endblock %}
{% block heading %}Gomoku Tutor{% endblock %}

{% block content%}
    
<table style = "border: 1px solid black;">
    <button type="button">Start new game</button> <!--start a new game any time -->
    <a href="/hint">Hint</a> <!-- see the next optimal move -->
    <div>Score:{{score}}</div> <!-- predict win based on the current move -->
    {%for i in range(0, width)%}
    <tr>
        {%for j in range(0, height)%}
            <td style = "width: 25px; height: 25px;">
                {% if state[i][j] == "-" %}
                    <a href = "move/{{i}}/{{j}}">{{state[i][j]}}</a>
                {% else %}
                    {{state[i][j]}}
                {% endif %}
            </td>
        {%endfor%}
    </tr>
    {%endfor%}
</table>
{% endblock %}