{% extends "base.html" %}

{% block title %}Gomoku Experiment Instructions{% endblock %}
{% block heading %}Gomoku Experiment Instructions{% endblock %}

{% block content%}


<div id="instructions" class="content_box">

    <h2>Basic rule of Gomoku</h2>

    <p>Players alternate turns placing a stone of their color on an empty intersection. Black plays first.
    The winner is the first player to form an unbroken chain of five stones horizontally, vertically, or diagonally.</p>

    <h2>How to use our tutor</h2>
    <p>The whole experiment lasts around 45-60 minutes, with a pretest on 20 board states, 20 minutes of training games and a posttest on 20 board states.
    You are always playing black and goes first.
    During pretest and posttest sessions, you will need to make a move on every board state presented to you.
    During the training games, you will be provided with feedback and can start a new game at any time.
    </p>

    <p>Please do not navigate away from the page during the experiment.</p>

    <h2>Are you ready to start the experiment?</h2>

    <div id="instructions_buttons">
        <button id="yes_button">Yes</button>
        <button id="no_button">No</button>
    </div>

</div>

<script>
    $(function() {

        window.addEventListener( "pageshow", function ( event ) {
            var historyTraversal = event.persisted ||
                ( typeof window.performance != "undefined" &&
                    window.performance.getEntriesByType("navigation")[0].type === "back_forward"
                );
            if ( historyTraversal ) {
                // Handle page restore.
                window.location.reload();
            }
        });

        console.log( "ready!" ); //wait until all pages load
        $('#yes_button').click(function() {
            $.ajax({
                type: "POST",
                url: '/advance_stage',
                data: JSON.stringify({'page': window.location.pathname.substring(1) }),
                contentType: 'application/json',
                dataType: 'json',
                success: function(resp) {
                    window.location.href = resp['next_page'];
                },

            });
        });
        $('#no_button').click(function() {
            window.location.href = "/goodbye";
        });
    });
</script>

{% endblock %}
