{% extends "base.html" %}

{% block title %}Home{% endblock %}
{% block heading %}Gomoku Test{% endblock %}

{% block content%}

<div id="toolbar">
    Problem <span id="completed_probs"></span> of <span id="total_probs"></span></br>
    Time to answer: <span id="timer"></span> sec.
</div>

<div id="test_instructions">
    <div id="instructions_text">You can make a move by clicking on any empty space on the board. <br>
        You will be presented with the next question when you finish the current question or when time is up.</div>	
</div>


<table class="board">
    {%for i in range(0, size)%}
    <tr>
        {%for j in range(0, size)%}
            <td>
                <div id="loc{{i * size + j}}" class="move_location" data-row="{{i}}", data-col="{{j}}"></div>
            </td>
        {%endfor%}
    </tr>
    {%endfor%}
</table>


{% endblock %}

{% block footer %}
<script src="test_item.js"></script>
<!---
<script src="game.js"></script>
<script src="testing.js"></script>
--->
{% endblock %}

