{% extends "base.html" %}

{% block title %}Home{% endblock %}
{% block heading %}Gomoku Training{% endblock %}

{% block content%}

<div class="toolbar">
        {% if score is not none %}
	<div class='score'><h3>Last Move Score: {{ '%0.1f' | format(score|float)}}</h3></div>
	<div class='comment'>A measure (ranging from 0-1) of how optimal your last move was
		(1=best).</div>
	{% endif %}
	<div class='hint_button'><a href="/hint">Please Give me a Hint</a></div>
</div>

<table class="board">
    {%for i in range(0, size)%}
    <tr>
        {%for j in range(0, size)%}
            <td>
                {% if state[i][j] == "-" %}
                    <a href = "move/{{i}}/{{j}}"></a>
                {% elif state[i][j] == "black" %}
		    <div class="blackstone"></div>
                {% else %}
		    <div class="whitestone"></div>
                {% endif %}
            </td>
        {%endfor%}
    </tr>
    {%endfor%}
</table>
{% endblock %}
